__pycache__/
*.py[cod]
*.so
*.egg
env/
build/
*.egg-info
dist
build
eggs
lib/
lib64/
parts
bin
var
sdist
bin/
src/
develop-eggs
.installed.cfg
lib
*.manifest
lib64
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.tox
nosetests.xml
coverage.xml
*.mo
.mr.developer.cfg
.project
.pydevproject
target/
*.sublime-project
*.sublime-workspace
.webassets-cache
generated.css
generated.js
tmp
.DS_Store
venv
.Python
include
metroplaces.sqlite
metroplaces/metroplaces.db
share/man/man1/ipcluster.1
share/man/man1/ipcontroller.1
share/man/man1/ipengine.1
share/man/man1/ipython.1
share
