*.egg
*.egg-info
*.egg-info/
*.mo
*.pyc
*.pyo
*.py[cod]
*.so
*.sw[a-z]
*.sqlite
.cache
.coverage
.DS_Store
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.Python
.ropeproject
.tox
.tox/
bin/
build/
develop-eggs/
dist
dist/
docs/_build/
eggs/
env
env*
env/
htmlcov/
lib/
lib64/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
static/.webassets-cache
templates_
var/
_mailinglist
__pycache__/
