Flask==0.10.1
Flask-Assets==0.10
Flask-Script==2.0.5
Jinja2==2.7.3
MarkupSafe==0.23
WTForms==2.0.1
Werkzeug==0.9.6
aniso8601==0.83
flask-peewee==0.6.5
itsdangerous==0.24
peewee==2.3.0
pygeocoder==1.2.5
pytz==2014.4
requests==2.3.0
simplejson==3.6.2
six==1.7.3
uWSGI==2.0.6
uwsgitop==0.8
webassets==0.10.1
wsgiref==0.1.2
wtf-peewee==0.2.3
cssmin
gunicorn