flask
wtforms
peewee
Flask-Security==1.6.4
Flask-SQLAlchemy==0.16
git+https://github.com/miracle2k/webassets.git
flask-assets
flask-wtf
Flask-Mail
Flask-Failsafe==0.1
Flask-Script
Flask-Admin
python-dateutil==2.1
pytz
Flask-Bcrypt==0.5.2
Flask-RESTful
MySQL-python

