<div id='map' style='width: 900px; height: 450px'></div>
<script src='http://cdn.leafletjs.com/leaflet-0.4/leaflet.js'></script>

<script>
	var map = L.map('map').setView([34.0536,-118.2430], 11);
	var placelist = [["Check Cashing", 33.9339154, -118.2651794]] ;
	mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
	        L.tileLayer(
	            'http://b.tile.thunderforest.com/transport/{z}/{x}/{y}.png', {
	            attribution: '&copy; ' + mapLink + ' Contributors',
	            maxZoom: 18,
	            }).addTo(map);
	// initialize array
	var placelist = [];
	// append create new array and push it onto the array
	{% for place in places %}
	 placelist.push( ["<b>{{ place.name }}</b><br/>{{ place.address }}<br/>notes: {{ place.comment }}",{{ place.lat }},{{ place.lon }}] );
	{% endfor %}
	
	for (var i = 0; i < placelist.length; i++) {
		marker = new L.marker([placelist[i][1],placelist[i][2]])
			.bindPopup(placelist[i][0])
			.addTo(map);
		}

</script>

